<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello World registration</title>
    <link rel="stylesheet" media="screen" href="../static/css/main.css" th:href="@{/static/css/main.css}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<div class="wrap">
    Registration
    <div class="error" th:if="${errorMessage}" th:text="${errorMessage}"/>
    <form th:action="@{/registration}" method="post">
        <input id="username" type="text" name="username" required placeholder='Username'/>
        <input id="password" type="password" name="password" required placeholder='Password'>
        <div id="password-msg"></div>
        <input type="submit" value="Register"/>
    </form>
</div>

<footer>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.js" th:src="@{/static/js/jquery-3.3.1.js}"></script>
    <script type="text/javascript" src="../static/js/registration.js" th:src="@{/static/js/registration.js}"></script>
</footer>
</body>
</html>
